body {
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #36d1dc, #5b86e5);
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a, .login-button {
    font-weight: 600;
    float: right;
    text-align: left;
}


/* banner */

#banner {
    background-image: linear-gradient(to right, #36d1dc, #5b86e5);
    color: #fff;
    height: 70vh;
    /*min-height: 300px;
    max-height: 550px;*/
    padding-top: 5%;
    padding-bottom: 5%;
    /*clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
      );*/
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.banner-button {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    margin-bottom: 2%;
}

/* products */

#products {
    padding: 80px 0;
}

.product-img {
    width: 100px;
    margin-top: 20px;
}

.products {
    padding: 20px;
}

.products h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::after {
    content: '';
    background: #000000;
    height: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* About-Us*/

#about-us {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;

}

#about-us ul li {
    margin: 10px 0;
}

#about-us ul {
    margin-left: 20px;
}


/* Socail Media*/

#social-media {
    padding: 100px 0;
}

#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img {
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img {
    transform: translateY(-10px);
}


/*footer*/

#footer {
    padding-top: 50px;
    background-image: linear-gradient(to right, #36d1dc, #5b86e5);
}

.footer-box {
    padding: 20px;
}

.footer-box img {
    width: 120px;
    margin-bottom:20px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
}

.footer-box .form-control {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;

}

.footer-box .btn-primary {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 30px;
}

.footer-hr {
    background-color: #fff;
}

.copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;

}

.test-title {
    font-size: 40px;
    font-weight: 600;
}


/* TEST  */


.outline {
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    margin-bottom: 1rem;
}

.question-text {
    font-size: 20px;
    font-weight: 300;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 20px;
}

.option-list {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    list-style-type: none;
}

.option {
    margin-bottom: 1rem;
    display: flex;
    padding: 1rem;
    background-color: white;
    width: 100%;
}

.section {
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    background: aqua;
    position: sticky;
    top: 66px;
    z-index: 10;
}

.active-option {
    background: aqua;
}

.top-result {
    margin-bottom: 1rem;
    display: flex;
    padding: 1rem;
    background-color: white;
    width: 100%;
}