<section id="about-us">
    <div class="container">
        <h1 class="title text-center">WHAT WE PROVIDE ?</h1>
        <div class="row">
            <div class="col-md-6 about-us">
                <p class="about-title">Why we're different?</p>
                    <ul>
                        <li>Best in class</li>
                        <li>Best in class</li>
                        <li>Best in class</li>
                        <li>Best in class</li>
                        <li>Best in class</li>
                    </ul>
            </div>
            <div class="col-md-6 about-us">
            </div>
        </div>
    </div>
</section>