<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <p class="promo-title">BEST ONLINE MOCK TEST PREPRATION WEBSITE</p>
                <p>Take daily online mock tests, created by professionals. Also take tests which
                contain previous year questions.</p>
                <a href="/test/getActiveTests" class="btn btn-primary banner-button">Live Tests &#8594;</a>
            </div>
            <div class="col-md-6 text-center">
                <img src="/assets/images/banner-image.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</section>