<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-box">
                <img src="/assets/images/logo.png">
                <p>Daily we provide live test created by professionals. Bookmark us for best online
                mock tests</p>
            </div>
            <div class="col-md-4 footer-box" id="contact">
                <p><b>CONTACT US</b></p>
                <p><i class="fa fa-map-marker"></i> AECS Layout, Bangalore</p>
                <p><i class="fa fa-phone"></i>+91 9876543210</p>
                <p><i class="fa fa-envelope-o"></i>cheetahlabs@gmail.com</p>
            </div>
            <div class="col-md-4 footer-box">
                <p><b>SUBSCRIBE FOR NOTIFICATIONS</b></p>
                <input type="email" class="form-control" placeholder="Your Email">
                <button type="button" class="btn btn-primary">SUBSCRIBE</button>
            </div>
        </div>
        <hr class="footer-hr">
        <p class="copyright">@2019 CheetahLabs All rights reserved</p>
    </div>
</section>
</body>
</html>