<section id="products">
    <div class="container text-center">
        <h1 class="title">WHY TESTNATION ?</h1>
        <div class="row text-center">
            <div class="col-md-4 products">
                <img src="/assets/images/pages.jpg" class="product-img">
                <h4>Daily Mock Tests</h4>
                <p>Daily short mock tests created using previous year question papers.</p>
            </div>
            <div class="col-md-4 products">
                <img src="/assets/images/ranking.png" class="product-img">
                <h4>Check Your Rank</h4>
                <p>After each test check your rank and find where you stand among others.</p>
            </div>
            <div class="col-md-4 products">
                <img src="/assets/images/analyze.jpg" class="product-img">
                <h4>Analyze Performance</h4>
                <p>After each test find out which section you need to work upon and analyze your performance overall</p>
            </div>
        </div>
    </div>
</section>