<section id="social-media">
    <div class="container text-center">
        <p>FIND US ON SOCIAL MEDIA</p>
        <div class="social-icons">
            <a href="#"><img src="/assets/images/fb.png"></a>
            <a href="#"><img src="/assets/images/twitter.png"></a>
            <a href="#"><img src="/assets/images/youtube.png"></a>
            <a href="#"><img src="/assets/images/linkedin.png"></a>
        </div>
    </div>
</section>