{{> header}}
{{> navbar}}
<section id="result-section">
    <div class="container">
        <div class="row result">
            <div class="col col-md-8 outline">
                <h3>Congrats you have scored</h3>
                <h2>{{userResult.marksObtained}}</h2>
            </div>
            <div class="col">
                <ul class="option-list">
                    <li><button class="option outline">HELLO</button></li>
                    <li><button class="option outline">HELLO</button></li>
                    <li><button class="option outline">HELLO</button></li>
                    <li><button class="option outline">HELLO</button></li>
                    <li><button class="option outline">HELLO</button></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{> footer}}